html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Comic Neue", cursive;
}

.container {
  height: 100%;
  padding: 40px;
  background: #128dd5;
}

.container div {
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  color: white;
  font-size: 400%;
  border-radius: 71px;
  background: linear-gradient(145deg, #0f77b3, #128dd5);
  box-shadow: 13px 13px 26px #0c5f8f, -13px -13px 26px #16a9ff;
}

.container div span {
  margin: auto;
}

#private {
  /* background-color: navy; */
  margin-bottom: 40px;
}

#work {
  /* background-color: teal; */
}

.click {
  background: linear-gradient(145deg, #0f77b3, #62b9eb) !important;
}
